language: python
os: linux
dist: xenial
sudo: enabled
addons:
  snaps:
    - name: snapcraft
      channel: stable
      classic: true
    - name: core20
      channel: edge
    - name: lxd
      channel: stable

script:
  - sudo /snap/bin/lxd.migrate -yes
  - sudo /snap/bin/lxd waitready
  - sudo /snap/bin/lxd init --auto
  - sudo snapcraft --use-lxd
